@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background: url(bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
#saat {
    font-size: 24px;
    text-align: center;
    margin-right: 125px;
    color: white;
    padding-left: 40px;
}

header{
    width:100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgb(0, 0, 0);
    top: 0;
}



#chk1{
    display: none;
}

i{
    color: #fff;
    cursor: pointer;
}
header .logo img{
    height: 150px;
    margin-left: 30px;
}
header .search-box{
    flex: 1;
    position: relative;
    background-color: #00000039;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#261d1999;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
     
} 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: rgb(128, 0, 0);
    color: #fff;
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;

    
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid rgb(133, 18, 18);
    color: gray;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
        float: right;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
        top: 0;
        z-index: -1;
    }
  
}
.iletisim
{   
    margin-top: 150px;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./assets/images/iletisimbg2.jpeg);
    background-size: cover;
}

.iletisim .content
{
    max-width: 800px;
    margin-top: 50px;
    text-align: center;
}

.iletisim .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.iletisim .content p
{
    font-weight: 300;
    color: #fff;
}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .iletisimBilgi
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .iletisimBilgi .box
{
    position: relative;
    padding: 20px 0;
    display: flex;

}



.container .iletisimBilgi .box .icon
{
   min-width: 60px;
   height: 60px;
   background: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 22px;
   color: rgba(123, 70, 11, 0.988);

}
.container .iletisimBilgi .box .icon i
{
    color : rgb(169, 55, 7);
}

.container .iletisimBilgi .box .text
{   
   color: #ffffff;
   display: flex;
   flex-direction: column;
   font-weight: 300;
   margin-left: 20px;
   font-size: 16px;

}

.container .iletisimBilgi .box .text h3
{   
   color: rgb(169, 55, 7);
   font-weight: 500;
   
}

.iletisimForm
{
   padding: 40px;
    width: 40%;
    background: #ffffff;
}

.iletisimForm h2 
{
    font-size: 30px;
    color: #333;
    font-weight: 500;

}

.iletisimForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.iletisimForm .inputBox input,
.iletisimForm .inputBox textarea
{
   
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
    font-size: 16px;
    border: none ;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.iletisimForm .inputBox span
{
    position:absolute;
    left: 0;
    margin: 10px 0;
    padding: 5px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color:#666;
}

.iletisimForm .inputBox input:focus ~ span,
.iletisimForm .inputBox input:valid ~ span,
.iletisimForm .inputBox textarea:focus ~ span,
.iletisimForm .inputBox textarea:valid ~ span
{
    color:rgb(169, 55, 7);
    font-size: 12px;
    transform: translateY(-20px);
}

.iletisimForm .inputBox input[type="submit"]
{
    width: 100px;
    background: rgb(169, 55, 7);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


.footer{
	background-color: rgb(190, 52, 52);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(6, 1, 87);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row2{
	display: flex;
	
  justify-content: center;
}
ul{
	list-style: none;

}
@media (max-width:768px)
{
    .iletisim
    {
        padding: 50px;
    }
    .content
    {
        margin-top: 70px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .iletisimBilgi
    {
        margin-bottom: 40px;
    }
    .container .iletisimBilgi, .iletisimForm
    {
        width: 100%;
    }
    
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
